@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  background-image: url('/wave.svg');
  background-repeat: repeat;
  background-color: white;
}

html.dark body {
  background-image: url('/wave-dark.svg');
  background-color: black;
}
/* icons footer */
.VPSocialLink > svg {
  width: 24px !important;
  height: 24px !important;
}

@layer components {

  content a {
    @apply text-inherit underline hover:text-orange-400 ease;
  }

  .content h1 {
    @apply text-2xl font-medium text-orange-400 pt-6 pb-4;
  }

  .content h2 {
    @apply text-xl text-inherit font-medium pt-6 pb-2 first-of-type:pt-0;
  }

  .content p {
    @apply leading-5 pb-2;
  }

  .content ul a {
    @apply relative hover:text-orange-400 pr-1 underline after:absolute after:top-[50%] after:right-0 after:-translate-x-[-100%] after:translate-y-[-50%] after:mask-[url('/icon-external.svg')] after:w-4 after:h-4 after:bg-gray-700 dark:after:bg-white hover:after:bg-orange-400 dark:hover:after:bg-orange-400 after:mask-size-contain; 
  }

  .ease {
    @apply transition duration-300 ease-in-out;
  }

}
